### 1. Assuming that we have some email addresses of "username@somemail.com"format, write a program to print the company name from a given mail address. Both user names and company names are composed of letters only.

In [28]:
import re
def comp_name():
    mail_id = input("Please Enter your Mail ID:")
    print(mail_id)
    char_split = re.split('\W+', mail_id)
    return(char_split[1])
comp_name()

Please Enter your Mail ID:kmruvrj@gmail.com
kmruvrj@gmail.com

'gmail'

### 2. Write a program that accepts the comma separated sequence of words as input and prints the comma separated sequence of words that sorted alphabetically.

In [77]:
def com_seq():
    strs = input("Please Enter comma separated words:")
    strs_split = re.split('\W+', strs)
    sorted_seq = sorted(strs_split)
    return (",".join(sorted_seq))
com_seq()

Please Enter comma separated words:The,Way,To,Get,Started,Is,To,Quit,Talking,And,Begin,Doing

'And,Begin,Doing,Get,Is,Quit,Started,Talking,The,To,To,Way'

### 3. Sets

- A set is an unordered collection of items. Every set element is unique (no duplicates)
- A set itself is mutable, we can add or remove items from it.
- Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.,
- A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.
- It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [82]:
#Different assignments to sets.
#Assigning strings:
set1 = {'Life', 'is', 'a', 'series', 'of', 'baby', 'steps'}
print(set1)

#Assigning integers:
set2 = {2, 5, 7, 2, 3, 4} #can't have duplicates in sets
print(set2)

#Assigning mixed datatypes
set3 = {56, "Python Sets", (2,3,4,5)}
print(set3)

{'baby', 'a', 'is', 'of', 'Life', 'series', 'steps'}
{2, 3, 4, 5, 7}
{56, (2, 3, 4, 5), 'Python Sets'}

In [84]:
#Converting sets to list:
set4 = set([12,56,48,75,89,23])
print(set4)
# set cannot have mutable items
# here [23, 48] is a mutable list

set4 = set(12,56,75,89,[23,48])#this gives an error as set does not takes half list as argument
print(set4)

{75, 12, 48, 23, 56, 89}

TypeError: set expected at most 1 arguments, got 5

In [87]:
'''
Creating an empty sets considers {} as dictionary in default in python. 
So in case of considering empty sets use set() instead of {}
'''
i = {}
print(type(i))
j = set()
print(type(j))

<class 'dict'>
<class 'set'>

### Modifying a set in Python

- Sets are mutable. However, since they are unordered, indexing has no meaning.
- We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.
- We can add a single element using the add() method, and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [1]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

# my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

### 4. Given a list of n-1 numbers ranging from 1 to n, task is to find the missing numbers. There are no duplicates.

In [67]:
def mis_nums(*args):
    missed_nums = []
    for num in range(1, max(args)+1):
        if num not in args:
            missed_nums.append(num)
    str_missed_num = ", ".join(map(lambda n: str(n), missed_nums))
    return (f"In the above list of numbers {str_missed_num} is missing.")
    
mis_nums(1,2,3,4,5,8,4,6,9)

'In the above list of numbers 7 is missing.'

### 5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [75]:
def dup_values():
    input_nums = input("Please enter the numbers with spaces: ")
    innums_split = input_nums.split()
    int_split = list(map(lambda n : str(n), innums_split))
    unique_nums = []
    for nums in int_split:
        if nums not in unique_nums:
            unique_nums.append(nums)
        else:
            pass
    return " ".join(unique_nums)
dup_values()

Please enter the numbers with spaces: 12 24 35 24 88 120 155 88 120 180 155

'12 24 35 88 120 155 180'